h1, h2, h3, h4, h5, h6 {
	text-transform: capitalize;
}
html, button, input, select, textarea {
	font-family: Arial, Helvetica, sans-serif;
}
#header-bar {
	min-height: 50px;
	background-color: #333;
}
.header h4 {
	color: #111;
	margin-left: 40px;
}
.header h4 span {
	font-size: 32px;
	vertical-align: middle;
}
.home .header h1,
.home .header h4 span {
	color: #31bf1f;
}
.labs .header h1,
.labs .header h4 span {
	color: #00aec8;
}
.development .header h1,
.development .header h4 span {
	color: #ee7e2a;
}
.blog .header h1,
.blog .header h4 span {
	color: #e64141;
}
.about-me .header h1,
.about-me .header h4 span {
	color: #81519c;
}
.header h1 {
	color: #31bf1f;
	margin-bottom: 0;
	font-family: "Georgia", Arial;
}
.header h5 {
	margin-top: 0;
	color: #333;
}
.navbar-inner {
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
#tweet3d ul {
	list-style: none;
	padding: 0;
	margin: 20px auto;
	width: 32em;
	height: 18em;
}
#tweet3d li {
	display: none;
	height: 15em;
	width: 20em;
	background: rgb(246,246,246); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(246,246,246,1) 0%, rgba(225,225,225,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(225,225,225,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(225,225,225,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(225,225,225,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(225,225,225,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(246,246,246,1) 0%,rgba(225,225,225,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-8 */
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	--webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 30px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 30px rgba(50, 50, 50, 0.75);
}
#tweet3d li.roundabout-in-focus {
	cursor: default;
}
#tweet3d li p {
	margin-left: 2em;
	margin-right: 2em;
}
#tweet3d li p.hashtag {
	margin-top: 2em;
	padding-bottom: 1em;
	border-bottom: 1px dotted #333;
}
#tweet3d li p.hashtag:before {
	content: "Hashtag: ";
	font-weight: bold;
}
#tweet3d li p.footer {
	font-size: 12px;
	color: #333;
}
#tweet3d li p.footer .user {
	margin-left: 1em;
}
#tweet3d li p.footer .date {
	margin-right: 1em;
	float: right;
}
.tweet-cont {
    position: relative;
    left: 2%;
    width: 90%;
    -webkit-backface-visibility: hidden;
    opacity: 0;
    position: absolute;
}
.tweet-cont.active {
    opacity: 1;
    z-index: 9;
}
#tweets {
	position: relative;
	height: 148px;
}
.tweet-card {
    background: rgb(246,246,246); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(246,246,246,1) 0%, rgba(225,225,225,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(225,225,225,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(225,225,225,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(225,225,225,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(225,225,225,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(246,246,246,1) 0%,rgba(225,225,225,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-8 */
    border: 1px solid white;
    padding: 1em;
    float: left;
    width: 100%;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
    -moz-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.75);
}
.tweet-cont .tweet-link {
    background: #3D3D3D;
    width: 4em;
    float: left;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tweet-cont .tweet-link a {
    color: #c3c3c3;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: block;
}
.tweet-cont .tweet-link:hover {
    background-color: #424242;
}
.tweet-card .tag {
    margin-bottom: 0;
    font-weight: bold;
}
.tweet-card .posted {
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #333;
    font-size: 10px;
}
.tweet-card .posted .by a {
    text-decoration: none;
    color: #424242;
}
.tweet-card .posted .by a:hover {
    text-decoration: underline;
}
.tweet-card .posted .by {
    float: right;
}
.instagram-photos {
	text-align: center;
}
.instagram-photos .photo {
	margin: 0 1px 3px 1px;
	width: 150px;
	height: 150px;
	display: inline-block;
	background-repeat: no-repeat;
}
.navbar-inverse .navbar-inner, #header-bar {
	background-color: #333;
	background-image: -moz-linear-gradient(top, #333, #111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#111));
	background-image: -webkit-linear-gradient(top, #333, #111);
	background-image: -o-linear-gradient(top, #333, #111);
	background-image: linear-gradient(to bottom, #333, #111);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff111111', GradientType=0);
	border-color: #252525;
}
.about-section {
	position: relative;
}
.label.about {
	/*
	position: absolute;
	display: inline;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	top: 5px;
	padding: 8px 5px 5px;
	left: -45px;
	*/
	margin-bottom: 10px;
	padding: 6px 7% 5px 3%;
	width: 90%;
	background: #81519c;
	font-style: normal;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .16em;
	line-height: 12px;
}
.socialLabel {
	margin-bottom: 10px;
	padding: 6px 1% 5px 3%;
	width: 80px;
	text-align: right;
	border-right: 5px solid #81519C;
	font-style: normal;
	color: black;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .16em;
	line-height: 12px;
	margin-right: 5px;
	font-weight: bold;
	display: inline-block;
}
a.social {
	text-decoration: none;
	font-size: 0.9em;
	color: #81519C;
}
a.social:hover {
	color: black;
}
.codeSkills {
	list-style: none;
}
.codeSkills li {
	display: inline-block;
	width: 105px;
	margin-bottom: 20px;
	font-size: 0.9em;
}
.codeSkills .labelTick {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background: url(../img/tick.png) #81519C no-repeat 5px 5px;
	margin-right: 5px;
}
/* Navigation for Tablet and Desktop */
@media only screen and (min-width: 768px) {
	#tweets {
		display: none;
	}
	.socialicons {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 10px;
	}
	.socialicons .icon {
		float: right;
		display: block;
		width: 34px;
		height: 34px;
		padding-right: 5px;
		cursor: pointer;
	}
	.socialicons .icon.fb {
		background: url(../img/icons/facebook.png) no-repeat;
	}
	.socialicons .icon.twi {
		background: url(../img/icons/twitter.png) no-repeat;
	}
	.socialicons .icon.linki {
		background: url(../img/icons/linkedin.png) no-repeat;
	}
	.socialicons .icon.github {
		background: url(../img/icons/github.png) no-repeat;
	}
	.socialicons .icon > a {
		display: block;
		width:100%;
		height:100%;
	}
	/* -- Navigation -- */
	.navi {
		border-bottom: 1px dotted #999;
		margin-bottom: 10px;
	}
	.navi ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: right;
	}
	.navi ul li {
		float: left;
		text-transform: capitalize;
	}
	.navi ul li a {
		color: #333;
		display: block;
		padding: 10px 15px;
		text-decoration: none;
		font-weight: bold;
	}
	.navi ul li a:hover,
	.home .navi ul li a.home {
		border-bottom: 5px solid #31bf1f;
		padding-bottom: 5px;
		cursor: pointer;
	}
	.navi ul li a.labs:hover,
	.labs .navi ul li a.labs {
		padding-bottom: 5px;
		border-bottom: 5px solid #00aec8;
	}
	.navi ul li a.development:hover,
	.development .navi ul li a.development {
		padding-bottom: 5px;
		border-bottom: 5px solid #ee7e2a;
	}
	.navi ul li a.blog:hover, 
	.blog .navi ul li a.blog {
		padding-bottom: 5px;
		border-bottom: 5px solid #e64141;
	}
	.navi ul li a.about-me:hover, 
	.about-me .navi ul li a.about-me {
		padding-bottom: 5px;
		border-bottom: 5px solid #81519c;
	}
	.navi-mobile, .navi-button {
		display: none!important;
	}
	.navbar {
		display: none;
	}
	#tweetmobi {
		display: none;
	}
	.instagram-photos .photo {
		filter: blur(0px) saturate(0%);
		-webkit-filter: blur(0px) saturate(0%);
		-moz-filter: blur(0px) saturate(0%);
		-ms-filter: blur(0px) saturate(0%);
		-o-filter: blur(0px) saturate(0%);
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */

		transition: filter 3s;
		/*-moz-transition: -moz-filter 3s;  Firefox 4 */
		-moz-transition: filter 3s; /* Firefox 4 */
		-webkit-transition: -webkit-filter 3s; /* Safari and Chrome */
		-o-transition: -o-filter 3s; /* Opera */
	}
	.instagram-photos .photo:hover {
		margin-left: 1px;
		margin-right: 1px;
		-webkit-filter: blur(0px) saturate(100%);
		-moz-filter: blur(0px) saturate(100%);
		-ms-filter: blur(0px) saturate(100%);
		-o-filter: blur(0px) saturate(100%);
		filter: none;

		transition: filter 3s;
		-moz-transition: -moz-filter 3s; /* Firefox 4 */
		-moz-transition: filter 3s; /* Firefox 4 */
		-webkit-transition: -webkit-filter 3s; /* Safari and Chrome */
		-o-transition: -o-filter 3s; /* Opera */
	}
}
/* Navigation for Mobile */
@media only screen and (max-width: 767px) {
	.header {
		border-bottom: 1px dotted #999;
		margin-bottom: 10px!important;
	}
	#tweets {
		margin-top: 20px;
		display: block;
	}
	.sixteen.columns.navi,
	#header-bar {
		display: none;
	}
	.navi-button {
		color: red;
		top: 3px;
		right :10px;
		position: absolute;
		cursor: pointer;
	}
	.navi-mobile {
		display: none;
	}
	.navi-mobile ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background: #333;
	}
	.navi-mobile ul li {
		text-transform: capitalize;
	}
	.navi-mobile ul li a {
		color: #c9c9c9;
		display: block;
		padding: 10px 15px;
		text-decoration: none;
	}
	.mobile-navi-button {
		width: 30px;
		height: 20px;
		padding-top: 2px;
		background: red;
		float:right;
	}
	.mobile-navi-button .line {
		width: 25px;
		background: white;
		height: 2px;
		margin: auto;
	}
	.home .nav-collapse .nav > li > a.home, 
	.nav-collapse .nav > li > a.home:hover, 
	.labs .nav-collapse .nav > li > a.labs, 
	.nav-collapse .nav > li > a.labs:hover, 
	.development .nav-collapse .nav > li > a.development, 
	.nav-collapse .nav > li > a.development:hover, 
	.blog .nav-collapse .nav > li > a.blog, 
	.nav-collapse .nav > li > a.blog:hover, 
	.about-me .nav-collapse .nav > li > a.about-me, 
	.nav-collapse .nav > li > a.about-me:hover { 
		padding-left: 10px;
		background-color: #111;
		border-left: 5px solid transparent;
	}
	.home .nav-collapse .nav > li > a.home, 
	.nav-collapse .nav > li > a.home:hover {
		border-left: 5px solid #31bf1f;
	}
	.labs .nav-collapse .nav > li > a.labs,
	.nav-collapse .nav > li > a.labs:hover {
		border-left: 5px solid #00aec8;
	}
	.development .nav-collapse .nav > li > a.development,
	.nav-collapse .nav > li > a.development:hover {
		border-left: 5px solid #ee7e2a;
	}
	.blog .nav-collapse .nav > li > a.blog,
	.nav-collapse .nav > li > a.blog:hover {
		border-left: 5px solid #e64141;
	}
	.about-me .nav-collapse .nav > li > a.about-me,
	.nav-collapse .nav > li > a.about-me:hover {
		border-left: 5px solid #81519c;
	}
	.navbar .nav-collapse {
		padding-top: 10px;
	}
	#tweet3d {
		display: none;
	}
	.instagram-photos .photo:nth-child(9) {
		display: none;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.instagram-photos .photo:nth-child(9) {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.label.about {
		padding: 10px 7% 10px 3%;
		cursor: pointer;
	}
}
@media only screen and (max-width: 479px) {
	.header h4 {
		margin-left: 15px;
	}
	.tweet-cont {
	    left: 2%;
	    width: 85%;
	}
	.instagram-photos .photo {
		margin: 0 0 5px 0;
	}
	.instagram-photos .photo:nth-child(9) {
		display: none;
	}
}